/*
color: #e7e7e7
color: #606060
color: #252525
color: #ffd044
color: #ffc004 
*/

.input-group {
  width: 26rem !important;
  height: 4rem;  
  margin: 1.5rem 0;
}


.input-group .form-control{
  margin-top: 0;
}

.input-group .form-control:focus{
  box-shadow: none;
  border: 1.5px solid #606060 !important;
}

.greeting{
  color: #606060;
  margin: 1.5rem 0;
}
  
.card-content{
  padding: 1.5rem;
}

  /* #background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("../../public/images/background.jpg");
  } */
  
  /* .bg-height {
    height: 93.8vh;
  } */
  
  @media (max-width: 650px) {
    .input-group,
    .info {
      width: 90% !important;
    }
  }
  