
.input-group {
  width: 26rem !important;
  height: 4rem;  
  margin: 1.5rem 0;
}

.input-group .form-control{
  border: 1px solid #606060 !important;
  border-radius: 0px;
}

.greeting{
  color: #606060;
  margin: 1.5rem 0;
}
  
  /* #background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("../../public/images/background.jpg");
  } */
  
  /* .bg-height {
    height: 93.8vh;
  } */
  
  @media (max-width: 650px) {
    .input-group,
    .info {
      width: 90% !important;
    }
  }
  