body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fafafa !important;
  }
  
  header {
    background-color: #2196f3;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  } */
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /* width: 300px; */
    max-width: 100%;
  }
  
  button {
    padding: 10px;
    margin-top: 20px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  
  
  button:hover {
    background-color: #0d8bf2;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .register-links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .register-links li {
    list-style: none;
    margin-right: 20px;
  }
  
  .register-links a {
    color: #2196f3;
    text-decoration: none;
  }
  
  .register-links a:hover {
    text-decoration: underline;
  } 
  
  .login-card{
    margin: auto;
    padding: 1rem;
    width: 25%;
    box-shadow: 1px 1px 12px #e5e5e5;
    background: #fff;
    border-radius: 20px;
  }

  form .btn-primary{
    margin: 0 auto;
    display: flex;
    padding: 0.5rem 2rem;
  }

  .btn-primary{
    background-color: #FFC004 !important;
    color:#252525 !important;
    border: 1px solid #FFC004 !important;
    padding:.75rem 1.25rem !important;
    font-weight: 600 !important;
    font-size:16px !important;
  }

  .btn-primary:focus, .btn-primary:hover{
    background-color: #FFC004;
    color:#252525;
  }

  .form-control:focus{
    box-shadow: none !important;
    border: 1.5px solid #606060 !important;
  }

  .bgImage{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../images/login-bg.jpg");
    background-size: cover;
  }

  .reduce--quantity-btn{
    margin-right:1rem
  }
  .increase--quantity-btn{
    margin-left: 1rem;
  }

 