
.navbar{
    background-color: #FFC004;
    
    height: 6rem;
}

.navbar-nav .nav-link{
    color: #606060;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus{
    color:#252525;
    border: none !important;
}
.navbar-nav{
    margin: 0px 20px 0px auto;
}

#navbarNav{
    flex-grow: initial;
    margin-bottom: 0;
}